.fc-daygrid-dot-event:hover{
    background: transparent;
}
.fc-daygrid-event{
    background: #02967c!important;
    color: white!important;
}
.fc-daygrid-event-dot{
    border: none;
}
.fc .fc-button-primary{
    background: #02967c!important;
    border-color: #02967c!important;
}
.fc .fc-toolbar-title{
    color: #02967c!important;
}
.fc .fc-daygrid-day-frame{
    background: white!important;
}
.fc-list-table tbody{
    background: white!important;
}
.fc-col-header tbody{
    background: #02967c!important;
}
.fc-col-header-cell-cushion{
    color: white!important;
}
.fc-theme-standard .fc-list-day-cushion{
    background: #02967c!important;
    color: white!important;
}
.fc-theme-standard .fc-list-day-cushion a{
    color: white!important;
}
.panel-default>.panel-heading{
    background: #02967c!important;
    color: white!important;
}
.panel-footer{
    background: #02967c!important;
    color: white!important;
}
#calendar {
    max-width: 1100px;
    margin: 0 auto;
}
#cobagan{
    height: 900px;
    overflow: auto;
}